/*Reset style*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Basic style*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.car-details{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-gallery{
    text-align: center;
    margin-bottom: 20px;
}

.car-gallery img{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.car-info{
    text-align: center;
}

.offer-section{
    text-align: center;
    margin-top: 20px;
}

input[type="text"]{
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}